name: Update maps
on:
  schedule:
    - cron: '42 3 * * *'
  workflow_dispatch:

jobs:
  update-maps:
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - name: Checkout configuration
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
          submodules: true

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true

      - name: Run update_map.rb
        run: bundle exec ruby util/update_map.rb
        env:
          GAMECODE: ${{ secrets.GAMECODE }}

      - name: Commit changes
        continue-on-error: true
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add data/map.json
          git add data/updated_at
          git add static/maps
          git add Gemfile.lock
          if [ -z "$(git status --porcelain)" ]; then echo "No changes to commit";else git commit -m "Daily automatic map update";fi

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
